<section [id]="idSection" class="card mat-card">
    <div class="iconos-edicion">
        <a href="#"><i class="fa-solid fa-plus"></i></a>
        <a href="#"><i class="fa-solid fa-pen-to-square"></i></a>
        <a href="#"><i class="fa-solid fa-trash" (click)="onDelete(idSection)"></i></a>
    </div>
    <h2>{{dataPortfolio[5].workExperience.title}}</h2>
    <h4>{{dataPortfolio[5].workExperience.institucion}}</h4>
    <p>{{dataPortfolio[5].workExperience.area}}</p>
    <p>{{dataPortfolio[5].workExperience.duracion}}</p>

</section>
