<section [id]="idSection" class="card mat-card">
    <div class="iconos-edicion">
      <a href="#"><i class="fa-solid fa-plus" (click)="onAdd(idSection)"></i></a>
      <a href="#"><i class="fa-solid fa-trash" (click)="onDelete(idSection)"></i></a>
    </div>
    <h2>{{dataPortfolio[3].done.title}}</h2>
    <ul>
      <li *ngFor="let done of doneList" >
        <div>
          <h4>{{done.titulo}}</h4>
          <p>{{done.url}}</p>
        </div>
        <div class="iconos-edicion">
          <span><a href="#"><i class="fa-solid fa-pen-to-square"></i></a></span>
          <span><a href="#"><i class="fa-solid fa-trash"></i></a></span>
      </div>
      </li>
    </ul>
  </section>
