<section [id]="idSection" class="card mat-card">
  <div class="iconos-edicion">
    <a href="#"><i class="fa-solid fa-plus" (click)="onAdd(idSection)"></i></a>
    <a href="#"><i class="fa-solid fa-trash" (click)="onDelete(idSection)"></i></a>
  </div>
  <h2>{{dataPortfolio[6].education.title}}</h2>
  <ul>
    <li *ngFor="let educ of educList">
      <div>
        <h4>{{educ.titulo}}</h4>
        <p *ngIf="educ.completo; then completo else no_completo"></p>
        <ng-template #completo><p>{{educ.institucion}} - Completo</p></ng-template>
        <ng-template #no_completo><p>{{educ.institucion}} - Incompleto</p></ng-template>
      </div>
      <div class="iconos-edicion">
        <span><a href="#"><i class="fa-solid fa-pen-to-square"></i></a></span>
        <span><a href="#"><i class="fa-solid fa-trash"></i></a></span>
      </div>
    </li>
  </ul>
</section>
