/* You can add global styles to this file, and also import other style files */
body {
    background-color: #c4c4c4;
    }
    
    section, footer {
        margin:0.75em;
        padding: 0.5em;
    }
    
    h1 {
        text-align: center;
    }
    
    i {
        margin: 0.2em;
    }
    
    input {
        margin:0.2em;
    }
    
    button {
        margin:0.2em;
    }

    .container {
        display: flex;
    }
    
    .iconos-edicion {
        text-align: right;
         
    }

    #texto-descripcion, #texto-ubicacion, #texto-footer {
        text-align: center;
    }
    
    #ico-user, #ico-user-chek, #ico-face, #ico-insta {
        margin-top: 0.75em;
    }
    
    #ico-user-chek{
        display:none;
    }

    #argentina-programa {
        margin: 0.2em;
        height: 2.25em;
    }
    
    #texto-argentina-programa{
        display: inline;
    }
    
    #login {
        display: flex;
    }
    
    #header-back-img {
        border-radius: 0.5em;
        margin-bottom: 0.5em;
    }
    
    #header-me-img {
        border-radius: 0.5em;
    }
    
    #agregar-seccion {
        text-align: right;
        padding: 0.5em;
    }