<header>
    <img id="header-back-img" [src]="dataPortfolio[1].backImage" class ="img-fluid" alt="Bariloche">
    
    <img id="header-me-img" [src]="dataPortfolio[1].photo" class ="float-end" alt="DAB">
    
    <div class="row">
        <div class="col">
            <div class="alert alert-primary" role="alert">
                <div class="iconos-edicion">  
                    <a href="#"><i class="fa-solid fa-pen-to-square" (click)="onEdit(alertText)"></i></a>
                </div>
                <p [id]="alertText">{{dataPortfolio[1].alertText}}</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="iconos-edicion">
              <a href="#"><i class="fa-solid fa-pen-to-square" (click)="onEdit(idTitulo)"></i></a>
            </div>
            <h1 [id]="idTitulo"> {{dataPortfolio[1].name}} </h1>
            <div class="iconos-edicion">
              <a href="#"><i class="fa-solid fa-pen-to-square" (click)="onEdit(textoDescripcion)"></i></a>
            </div>
            <p [id]="textoDescripcion">{{dataPortfolio[1].position}}</p>
            <div class="iconos-edicion">
                <a href="#"><i class="fa-solid fa-pen-to-square" (click)="onEdit(textoUbicacion)"></i></a>
            </div>
            <p [id]="textoUbicacion">{{dataPortfolio[1].location}}</p>
        </div>
    </div>
</header>
