<header>
    <div class="row">
        <div class="col-3">
            <img id=argentina-programa src="./assets/images/argentina-programa.jpg" class ="rounded img-fluid" alt="Logo Argentina Programa">
            <p id="texto-argentina-programa">Argentina Programa</p>
        </div>
        <div class="col-9">
          <a href="#"id="ico-face"><i class="fa-brands fa-facebook-square"></i></a>
          <a href="#"id="ico-insta"><i class="fa-brands fa-instagram-square"></i></a>
          <form id="login">
            <input type="text" class="form-control" placeholder="ID" aria-label="User">
            <input type="text" class="form-control" placeholder="Pass" aria-label="Pass">
            <span id="ico-user"><i class="fa-solid fa-user"></i></span>
            <span id="ico-user-chek"><i class="fa-solid fa-user-check"></i></span>
            <button type="Login" class="btn btn-primary" disabled>Ingresar</button>
          </form>
        </div>
    </div>
    
    <img id="header-back-img" src="./assets/images/header-bariloche.JPG" class ="img-fluid" alt="Bariloche">
    
    <img id="header-me-img" src="./assets/images/DAB.jpg" class ="float-end" alt="DAB">
    
    <div class="row">
        <div class="col">
            <div class="alert alert-primary" role="alert">
                <div class="iconos-edicion">  
                    <a href="#"><i class="fa-solid fa-pen-to-square"></i></a>
                </div>
                <p>Texto Alerta!</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="iconos-edicion">
              <a href="#"><i class="fa-solid fa-pen-to-square"></i></a>
            </div>
            <h1>Diego A. Barrio - Portfolio </h1>
            <div class="iconos-edicion">
              <a href="#"><i class="fa-solid fa-pen-to-square"></i></a>
            </div>
            <p id="texto-descripcion">Descripción DAB</p>
        </div>
    </div>
</header>
