#header-back-img {
    z-index: 0;
}

#header-me-img {
    position:relative;
    margin-top: -7.9em;
    z-index: 1;
}

@media (max-width: 600px) {
    #header-me-img, #header-back-img {
      display: none;
    }
  }